<body>
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

    <div id="main-wrapper">

        {{> dashboard_header }}

        <div class="content-body">
            <div class="container">
                <div class="row">

                    {{> admin_navigation }}

                    {{#if msg}}
                        <div class="alert alert-warning" role="alert" style="margin: 10px;">
                            {{msg}}
                        </div>
                    {{/if}}
                    
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4 class="card-title">All Referrals</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <form action="/admin/referrals" method="post">
                                                <div class="form-group form-inline float-right">
                                                    <input class="form-control" type="text" placeholder="Enter Referral ID" name="id"/>
                                                    <button class="btn btn-primary" type="submit">
                                                        <i class="fa fa-search"></i>
                                                        Search
                                                    </button>
                                                </div>
                                            </form>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="transaction-table">
                                    <div class="table-responsive">
                                        <table class="table table-striped mb-0 table-responsive-sm">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Amount</th>
                                                    <th>Plan</th>
                                                    <th>Status</th>
                                                    <th>Date</th>
                                                    <th>Invited By (ID)</th>
                                                    <th>Invited User (ID)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#forEach referrals}}
                                                    <tr>
                                                        <td>{{_id}}</td>
                                                        <td>${{amount}} USD</td>
                                                        <td>{{plan}}</td>
                                                        <td>{{status}}</td>
                                                        <td>{{date date "DD/MM/YYYY"}}</td>
                                                        <td>{{user}} {{userID}}</td>
                                                        <td>{{invitedUser}} ({{invitedUserID}})</td>
                                                    </tr>
                                                {{/forEach}}
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                   
                </div>
            </div>
        </div>

       {{> dashboard_footer}}
    </div>
</body>